# игнорируем папку битрикс
bitrix/*

# исключаем оттуда папки templates, modules, components, php_interface
!bitrix/templates/
!bitrix/modules/
!bitrix/components/
!bitrix/php_interface/

# игнорируем все модули
bitrix/modules/*
# исключаем из игнора необходимые для нас модули
!bitrix/modules/highloadblock/
!bitrix/modules/iblock/

# игнорим компоненты в namespace bitrix
bitrix/components/bitrix/

# в php_interface игнорим файлы, связанные с БД
bitrix/php_interface/dbconn.php
bitrix/php_interface/after_connect_d7.php
bitrix/php_interface/after_connect.php
bitrix/php_interface/cron_events.php
